@media screen and (max-width: 478px) {
    .new-list-container {
        width: 60%;
        height: 216px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-bottom: 1%;
    }

    #lists-title {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 0px;
    }

    #list-explain {
        text-align: center;
        font-size: 12px;
        padding: 0px 10px;
    }

    #lists-and-instructions {
        width: 35%;
    }

    #player-list-words {
        width: 65%;
    }

    .list-page-container {
        margin: 0%;
    }

    #create-list-button {
        width: 70px;
        height: 25px;
        margin-top: 15px;
        font-size: 14px;
    }

    #new-list-input {
        width: 100px;
        font-size: 12px;
    }

    #browse-list-title {
        font-size: 14px;
        margin-bottom: 0px;
    }

    #words-title {
        font-size: 14px;
    }

    #select-list-text {
        display: none;
    }

    .top-of-player-lists {
        height: 100px;
    }

    #top-of-words {
        height: 100px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 478px) and (max-width: 767px)  {
    .new-list-container {
        width: 60%;
        height: 216px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-bottom: 1%;
    }

    #lists-title {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0px;
    }

    #list-explain {
        text-align: center;
        font-size: 16px;
        padding: 0px 40px;
    }

    #lists-and-instructions {
        width: 35%;
    }

    #player-list-words {
        width: 65%;
    }

    .list-page-container {
        margin: 0%;
    }

    #create-list-button {
        width: 80px;
        height: 25px;
        margin-top: 15px;
        font-size: 16px;
    }

    #new-list-input {
        width: 125px;
        font-size: 14px;
    }

    #browse-list-title {
        font-size: 14px;
        margin-bottom: 0px;
    }

    #words-title {
        font-size: 14px;
    }

    #select-list-text {
        display: none;
    }

    .top-of-player-lists {
        height: 100px;
    }

    #top-of-words {
        height: 100px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .new-list-container {
        width: 60%;
        height: 216px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-bottom: 1%;
    }

    #lists-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 0px;
    }

    #list-explain {
        font-size: 18px;
        text-align: center;
        padding: 0px 50px;
    }

    #player-list-words {
        width: 50%;
    }

    #lists-and-instructions {
        width: 50%;
    }

    .list-page-container {
        margin: 0% 10%;
    }

    #create-list-button {
        width: 90px;
        height: 30px;
        margin-top: 15px;
        font-size: 18px;
    }

    #new-list-input {
        width: 160px;
        font-size: 16px;
    }

    #browse-list-title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .top-of-player-lists {
        height: 120px;
    }

    #top-of-words {
        height: 120px;
    }
}

@media screen and (min-width: 992px) {
    .new-list-container {
        width: 60%;
        height: 216px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-bottom: 1%;
    }

    #lists-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 0px;
    }


    #list-explain {
        font-size: 20px;
        text-align: center;
        padding: 0px 60px;
    }

    #player-list-words {
        width: 50%;
    }

    #lists-and-instructions {
        width: 50%;
    }

    .list-page-container {
        margin: 0% 20%;
    }

    #create-list-button {
        width: 100px;
        height: 30px;
        margin-top: 10px;
        font-size: 18px;
    }

    #browse-list-title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .top-of-player-lists {
        height: 120px;
    }

    #top-of-words {
        height: 120px;
    }
}

.list-page-container {
    display: flex;
    flex-direction: column;
}

#list-background-image-container {
    display: flex;
    justify-content: center;
    background-image: url('https://www.thesprucecrafts.com/thmb/-Zvh_AupqflDPHBghds4GE1JT0Q=/1333x1000/smart/filters:no_upscale()/how-many-letter-tiles-are-in-scrabble-410933_hero_3077-e4f81bffe842462aadfa3413c03e4d43.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1333px 1000px;
    width: 100%;
    border-bottom: 2px solid white;
}

.new-list-container {
    background-color: rgba(0, 0, 0, 0.705);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid white;

}

#lists-title {
    font-family: 'Nunito', sans-serif;
    color: white;
    opacity: 1;
}

#list-explain {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: white;
    opacity: 1;
}

#player-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    transition: 0.2s;
    overflow-y: scroll;
    padding-left: 5px;
}

::-webkit-scrollbar {
    width: 10px;
  }

#browse-list-title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: white;
}

#select-list-text {
    color: white;
    font-weight: 200;
}

#lists-and-instructions {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(145deg, rgba(58, 58, 58) 0%, #717677af 100%);
}

.top-of-player-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid white;
}

#empty-list {
    font-size: 24px;
    margin: 10%;
    padding: 10%;
    color: white;
    border: 1px solid white;
}

#no-cheating-holder {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    margin: 10% 10%;

}

#no-cheating-holder p {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
