.list-page-container {
    margin: 0% 20%;
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 29, 19, 0.61);
    min-width: 950px;
}

.new-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 50%;
    margin: 2%;
}

#lists-title {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
    color: white;
}

#list-explain {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: white;
}

#player-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(136, 136, 136);
    width: 50%;
}

#browse-list-title {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
    color: white;
}

#select-list-text {
    color: white;
    font-weight: 200;
}
