.list-container {
    border: 1px solid lightcoral;
    margin: 10px;
}

.lists-and-words {
    display: flex;
    width: 100%;
}


#player-list-words {
    width: 50%;
    background-color: lightgreen;
}
