.list-container {
    border: 1px solid lightcoral;
    margin: 10px;
}

.lists-and-words {
    display: flex;
    width: 100%;
    background-color: rgb(151, 245, 245);
}

#player-lists {
    width: 50%;
}

#player-list-words {
    width: 50%;
    background-color: lightgreen;
}
