.list-container {
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin: 10px;
    padding: 0px 10px;
    transition: 0.2s;
}

.list-container:hover {
    background-color: rgba(36, 29, 19, 0.26);
    color: rgba(36, 29, 19, 0.61);
    cursor: pointer;
}

.active-list {
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin: 10px;
    padding: 0px 10px;
    transition: 0.2s;
    background-color: rgba(36, 29, 19, 0.61);
    color: rgba(36, 29, 19, 0.61);
}

.lists-and-words {
    display: flex;
    width: 100%;
}


#player-list-words {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(207, 146, 131, 0.904) 0%, #e1d097 100%);
}

.list-name {
    margin: 0;
    color: white;
    font-size: 24px;
}

.list-username {
    margin: 0;
    color: white;

}

.edit-list-input {
    width: 150px;
}

.list-options-div {
    display: flex;
}

#no-cheating {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
    color: black;
}

#word-instructions {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
    margin: 50px 30px;
    color: black;
}

#words-title {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    margin-bottom: 0px;
    color: black;
}

#top-of-words {
    display: flex;
    width: 100%;
    height: 120px;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid white;
}

#add-word-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-top: 10px;
}

#add-word-input {
    margin-right: 10px;
    padding-left: 10px;
}

.list-page-button {
    border: 1px solid rgb(36, 29, 19);
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    transition: 0.2s;
    margin-left: 5px;
}

.list-page-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
}

.remove-word-button {
    border: 1px solid rgb(36, 29, 19);
    width: 70px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    transition: 0.2s;
    margin-left: 5px;
}

.remove-word-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
}

.word-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border-bottom: 1px solid white;
    padding: 10px 20px;
}

#word-list-container {
    overflow-y: scroll;
    height: 480px;
}
