/* TODO Add site wide styles */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}


* {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#nav-container {
    display: flex;
    position: relative;
    background-color: white;
    border-bottom: solid 3px rgb(36, 29, 19);
    width: 100%;
    height: 80px;
}

#nav-links {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 2%;
    justify-content: space-between;
    list-style-type: none;
    min-width: 1200px;
}

#nav-links a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: black;
    transition: 0.2s;
}

#nav-links a:hover {
    color: #52B38D;
}

#nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

#nav-right {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-right: 100px;
}

#nav-logout {
    width: 80px;
    height: 30px;
}

#logged-out-nav-right {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#logged-in-nav-right {
    display: flex;
    justify-content: space-between;
    width: 2000px;
}

#user-profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: cadetblue;
    border: 2px solid rgb(36, 29, 19);
}

#user-profile-circle {
    color: white;
    transition: 0.2s;
}

#user-profile-circle:hover {
    color: black;
}

#user-profile-letter {
    font-size: 28px;
}

#play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(36, 29, 19);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    transition: 0.2s;
}

#play-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
}
