@media screen and (max-width: 478px) {

    #nav-links a {
        font-size: 10px;
    }

    #nav-right {
        width: 65%;
        margin-right: 10px;
    }

    #nav-logout {
        width: 50px;
        height: 20px;
        font-size: 12px;
    }

    #play-button {
        width: 50px;
        height: 20px;
        font-size: 12px;
        margin-left: 2em;
    }
    #user-profile-circle {
        width: 30px;
        height: 30px;
    }

    #user-profile-letter {
        font-size: 20px;
    }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
    #nav-links a {
        font-size: 14px;
    }

    #nav-right {
        width: 65%;
        margin-right: 10px;
    }

    #nav-logout {
        width: 60px;
        height: 24px;
        font-size: 14px;
    }

    #play-button {
        width: 60px;
        height: 24px;
        font-size: 14px;
        margin-left: 2em;
    }

    #user-profile-circle {
        width: 40px;
        height: 40px;
    }

    #user-profile-letter {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #nav-links a {
        font-size: 18px;
    }
    #nav-right {
        width: 60%;
    }
    #logged-in-nav-right {
        width: 60%;
    }

    #nav-logout {
        width: 80px;
        height: 30px;
    }

    #play-button {
        width: 80px;
        height: 30px;
        font-size: 18px;
        margin-left: 2em;
    }
    #user-profile-circle {
        width: 50px;
        height: 50px;
    }

    #user-profile-letter {
        font-size: 28px;
    }
}

@media screen and (min-width: 992px) {
    #nav-links a {
        font-size: 20px;
    }

    #nav-right {
        width: 50%;
    }

    #nav-logout {
        width: 80px;
        height: 30px;
    }

    #play-button {
        width: 80px;
        height: 30px;
        font-size: 18px;
        margin-left: 2em;
    }
    #user-profile-circle {
        width: 50px;
        height: 50px;
    }

    #user-profile-letter {
        font-size: 28px;
    }
}

html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 375px;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#root {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#nav-container {
    display: flex;
    position: relative;
    background-color: rgb(61, 61, 61);
    border-bottom: solid 3px white;
    width: 100%;
    height: 80px;
}

#nav-links {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 2%;
    justify-content: space-between;
    list-style-type: none;
    background-color: rgb(61, 61, 61);

}

#nav-links a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    color: white;
    transition: 0.2s;
}

#nav-links a:hover {
    color:rgba(131, 207, 188, 0.904);
}

#nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

#nav-right {
    display: flex;
    justify-content: space-between;
}

#logged-out-nav-right {
    position: absolute;
    right: 5%;
    top: 1.75em;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#logged-in-nav-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#user-profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 2px solid white;
    color: white;
    background-image: linear-gradient(0deg, rgb(209, 86, 116) 0%, rgb(113, 217, 224)100%);
    transition: 0.2s;
}


#play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(36, 29, 19);
    border-radius: 5px;
    background-color: white;
    transition: 0.2s;
    color: black;
}

#play-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(209, 86, 116);
    border: 1px solid white;
}

#user-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0% 10%;
    height: 90.5%; background-image: linear-gradient(0deg, rgba(131, 202, 207, 0.5) 0%, #70ddbc 100%);
}

.users-name {
    display: flex;
    border: 1px solid white;
}

.users-name a {
    text-decoration: none;
    color:white;
}

#user-blocks-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 5%;
    overflow-y: scroll;
}

.users-block {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    border:4px solid white;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(56, 56, 56) 0%, #6d6d6d 120%);
}

#explore-title {
    margin: 50px 30px 10px 30px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 255, 255);
}

.users-block-username {
    color: white;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
}

.users-block-points {
    color: white;
    font-family: 'Lora';
    font-size: 30px;
    font-weight: 200;
}

.users-name-points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-options p {
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.send-friend-button {
    height: 40px;
    width: 160px;
    border: 1px solid black;
    transition: 0.5s;
    font-size: 14px;
}

.send-friend-button:hover {
    border: 1px solid white;
    cursor: pointer;
    background-color:rgb(56, 132, 202);
    color: white;
}

.already-friended {
    height: 40px;
    width: 160px;
    border: 1px solid white;
    transition: 0.5s;
    font-size: 14px;
    background-color:rgb(56, 132, 202);
    color: white;
}

.already-friended:hover {
    border: 1px solid white;
    cursor: pointer;
    background-color:rgb(47, 107, 163);
    color: white;
}

#explore-title-container {
    border-bottom: 4px solid white;
    width: 100%;
}
 #footer svg {
    height: 50px;
    width: 50px;
    margin: 0px 25px 0px 25px;
    transition: 0.4s;
    color: white;
 }

 #footer a {
    color: white;
 }

 #footer svg:hover {
     cursor: pointer;
     height: 55px;
     width: 55px;
 }

 #no-challenges {
    color: white;
    font-size: 24px;
    text-align: center;
 }
