@media screen and (max-width: 478px) {
    .guess-letter {
        width: 26px;
        height: 32px;
        font-size: 20px;
        margin: 0px 2px;
    }

    .guess-word {
        min-width: 275px;
        justify-content: space-between;
    }

    .guess-letter-cotainer {
        padding-right: 100px;
    }

    #game-container {
        min-width: 325px;
        padding-right: 0.5em;
        padding-left: 0em;
        padding-top: 0.5em;
    }

    .active-guess-button {
        width: 40px;
        height: 25px;
        font-size: 10px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
    .guess-letter {
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin: 0px 2px;
    }

    #guess-letter-container {
        padding-right: 100px;
    }

    .guess-word {
        width: 300px;
    }

    #game-container {
        min-width: 325px;
        padding-right: 0.5em;
        padding-left: 2em;
        padding-top: 0.5em;
        margin-left: 2.5em;
    }

    .active-guess-button {
        width: 40px;
        height: 25px;
        font-size: 10px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .guess-letter {
        width: 40px;
        height: 40px;
        font-size: 30px;
        margin: 0px 10px;
    }

    .guess-word {
        width: 400px;
    }

    #game-container {
        width: 50%;
        padding-right: 4em;
        padding-left: 4em;
    }

    .active-guess-button {
        width: 50px;
        height: 28px;
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    .guess-letter {
        width: 50px;
        height: 50px;
        font-size: 40px;
        margin: 0px 15px;
    }

    .guess-word {
        width: 520px;
    }

    #game-container {
        width: 50%;
        padding-right: 5em;
        padding-left: 5em;
    }

    #guess-letter-container {
        min-width: 525px;
    }

    .active-guess-button {
        width: 60px;
        height: 30px;
        font-size: 16px;
    }
}

#game-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.guess-word {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.guess-word input:disabled {
    opacity: 1;
}

.guess-letter {
    text-align: center;
}

.green {
    background: rgb(10, 175, 112);
    color: white;
}

.yellow {

    background: rgb(214, 192, 96);
    color: white;
}

.gray {
    background: rgb(66, 62, 62);
    color: white;
}

.active-guess-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(36, 29, 19);
    border-radius: 5px;
    background-color: white;
    transition: 0.2s;
}

.active-guess-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
}

.disabled-button {
    display: none;
}

.guess-button-container {
    width: 15%;
}
