#game-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-right: 5em;
    padding-left: 5em;
}

.guess-word {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    min-width: 32em;
}

.guess-letter {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin: 0px 15px;
}

.green {
    background: rgb(10, 175, 112);
    color: white;
}

.yellow {

    background: rgb(214, 192, 96);
    color: white;
}

.gray {
    background: rgb(66, 62, 62);
    color: white;
}

.active-guess-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(36, 29, 19);
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    transition: 0.2s;
}

.active-guess-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
}

.disabled-button {
    display: none;
}

.guess-letter-container {
    width: 80%;
    min-width: 440px;
}

.guess-button-container {
    width: 10%;
}
