@media screen and (max-width: 478px) {
    .errors {
        margin: 0;
    }

    .errors div {
        font-size: 7px;
    }

    #challenges-page-container {
        margin: 0 0%;
    }

    .challenge-sent-container {
        margin: 10px 10px;
        padding: 0px 5px;
        height: 50px;
    }

    #challenges-sent {
        width: 50%;
    }

    #challenges-received {
        width: 50%;
    }

    #new-challenge-inputs {
        display: flex;
        flex-direction: column;
    }

    #new-challenge-inputs input {
        width: 125px;
        margin: 5px 10px;
    }

    .challenge-sent-container h3 {
        font-size: 12px;
    }

    .challenge-sent-container p {
        font-size: 10px;
    }

    .sent-button {
        width: 35px;
        height: 12px;
        border-radius: 5px;
        font-size: 7px;
    }

    .edit-challenge-input {
        width: 50px;
        font-size: 10px;
        display: flex;
        align-items: center;
    }

    .challenger-name {
        color: white;
        font-size: 12px;
    }

    .received-challenge-container {
        margin: 10px 10px;
        padding: 0px 15px;
    }

    .status-text {
        font-size: 10px
    }

    .challenge-word-and-status {
        display: flex;
        flex-direction: column;
    }

    .challenge-word-and-status p  {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .sent-challenge-options {
        flex-direction: column;
    }

    #new-challenge-form select {
        font-size: 12px;
    }

    #new-challenge-form input {
        font-size: 12px;
        width: 100px;
    }

}

@media screen and (min-width: 478px) and (max-width: 767px)  {
    .errors {
        margin: 0;
    }

    .errors div {
        font-size: 7px;
    }

    #challenges-page-container {
        margin: 0 0%;
    }

    .challenge-sent-container {
        margin: 10px 10px;
        padding: 0px 5px;
        height: 50px;
    }

    #challenges-sent {
        width: 50%;
    }

    #challenges-received {
        width: 50%;
    }

    #new-challenge-inputs {
        display: flex;
        flex-direction: column;
    }

    #new-challenge-inputs input {
        width: 125px;
        margin: 5px 10px;
    }

    .challenge-sent-container h3 {
        font-size: 12px;
    }

    .challenge-sent-container p {
        font-size: 10px;
    }

    .sent-button {
        width: 35px;
        height: 12px;
        border-radius: 5px;
        font-size: 7px;
    }

    .edit-challenge-input {
        width: 50px;
        font-size: 10px;
        display: flex;
        align-items: center;
    }

    .challenger-name {
        color: white;
        font-size: 12px;
    }

    .received-challenge-container {
        margin: 10px 10px;
        padding: 0px 15px;
    }

    .status-text {
        font-size: 10px
    }

    .challenge-word-and-status {
        display: flex;
        flex-direction: column;
    }

    .challenge-word-and-status p  {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .sent-challenge-options {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #challenges-page-container {
        margin: 0 5%;
    }

    .challenge-sent-container {
        margin: 10px 20px;
        padding: 0px 15px;
        height: 100px;
        min-width: 250px;
    }

    #challenges-sent {
        width: 50%;
    }

    #challenges-received {
        width: 50%;
    }

    #new-challenge-inputs input {
        width: 125px;
        margin: 5px 10px;
    }

    #bottom-challenges-sent {
        height: 520px;
    }

    #challenges-received-list {
        height: 520px;
    }

    .challenge-sent-container p {
        font-size: 12px;
    }

    .sent-button {
        width: 55px;
        height: 25px;
        border-radius: 5px;
        font-size: 14px;
    }

    .edit-challenge-input {
        width: 50px;
        font-size: 12px;
    }

    .edit-challenge-word {
        width: 60px;
    }

    .challenger-name {
        color: white;
        font-size: 14px;
    }

    .received-challenge-container {
        margin: 10px 20px;
        padding: 0px 15px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1179px) {
    #challenges-page-container {
        margin: 0 10%;
    }

    .challenge-sent-container {
        margin: 10px 20px;
        padding: 0px 15px;
        height: 100px;
        min-width: 300px;
    }

    #challenges-sent {
        width: 50%;
    }

    #challenges-received {
        width: 50%;
    }

    #new-challenge-inputs input {
        width: 125px;
        margin: 5px 10px;
    }

    #bottom-challenges-sent {
        height: 520px;
    }

    #challenges-received-list {
        height: 520px;
    }

    .challenge-sent-container p {
        font-size: 14px;
    }

    .sent-button {
        width: 55px;
        height: 25px;
        border-radius: 5px;
        font-size: 14px;
    }

    .edit-challenge-input {
        width: 80px;
        font-size: 14px;
    }

    .edit-challenge-word {
        width: 100px;
    }

    .challenger-name {
        color: white;
        font-size: 18px;
    }

    .received-challenge-container {
        margin: 10px 20px;
        padding: 0px 15px;
    }

}

@media screen and (min-width: 1180px) {

    #challenges-page-container {
        margin: 0 18%;
    }

    .challenge-sent-container {
        margin: 10px 20px;
        padding: 0px 15px;
        height: 100px;
        min-width: 350px;
    }

    #challenges-sent {
        width: 50%;
    }

    #challenges-received {
        width: 50%;
    }

    #new-challenge-inputs input {
        width: 125px;
        margin: 5px 10px;
    }

    #bottom-challenges-sent {
        height: 520px;
    }

    #challenges-received-list {
        height: 520px;
    }

    .challenge-sent-container p {
        font-size: 14px;
    }

    .sent-button {
        width: 55px;
        height: 25px;
        border-radius: 5px;
        font-size: 14px;
    }

    .edit-challenge-input {
        width: 80px;
        font-size: 16px;
    }

    .edit-challenge-word {
        width: 100px;
    }

    .challenger-name {
        color: white;
        font-size: 18px;
    }

    .received-challenge-container {
        margin: 10px 20px;
        padding: 0px 15px;
    }
}

#challenges-page-container {
    display: flex;
    flex-direction: column;
}

#new-challenge-form {
    display: flex;
    flex-direction: column;
}

#new-challenge-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#new-challenge-inputs button {
    border: 1px solid rgb(36, 29, 19);
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    transition: 0.2s;

}

#new-challenge-inputs button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
}


.challenge-error-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.challenge-error-item {
    color: rgb(226, 55, 55);
}

#challenges-sent {
    display: flex;
    flex-direction:column;
    background-image: linear-gradient(145deg, rgba(131, 207, 188) 0%, #97dae1af 100%);
}

#challenges-received {
    background-image: linear-gradient(145deg, rgba(58, 58, 58) 0%, #717677af 100%);
}

#top-of-challenges-sent {
    display: flex;
    justify-content: center;
    height: 60px;
    border-bottom: 2px solid white;
}


#top-of-challenges-sent h2 {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    color: black;
}

#top-of-challenges-received {
    display: flex;
    justify-content: center;
    height: 60px;
    border-bottom: 2px solid white;
}


#top-of-challenges-received h2 {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    margin-bottom: 0px;
    color: white;
}

.received-challenge-container {
    display: flex;
    border-bottom: 1px solid white;
    justify-content: space-between;
    align-items: center;
}

.challenge-sent-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
}

.status-play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.received-play-button {
    border: 1px solid rgb(36, 29, 19);
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
    transition: 0.2s;
    margin-left: 20px;
}

.received-play-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
    border: 1px solid white;
}

.status-text {
    color: white;
}

.sent-button {
    border: 1px solid rgb(36, 29, 19);
    background-color: white;
    transition: 0.2s;
    text-align: center;
}

.sent-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(36, 29, 19);
}

.sent-challenge-options {
    display: flex;
    align-items: center;
}

.edit-challenge-word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errors {
    font-size: 14px;
    color:rgb(226, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-challenges-sent {
    overflow-y: scroll;
}

#challenges-received-list {
    overflow-y: scroll;
}
