#game-page-container {
    display: flex;
    align-items: center;
    height: 91.1%;
}

#wordcipher-title {
    font-size: 40px;
    font-weight: 400;
    color: white;
}

#instructions-container {
    width: 50%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba(131, 207, 188, 0.904) 0%, #97D9E1 100%);

}

#inner-instructions-container {
    box-sizing: border-box;
    padding: 150px 200px 150px 125px;
}

#welcome-wordcipher {
    font-size: 40px;
    margin-bottom: 0;
}

#word-guessing {
    font-size: 28px;
    margin-top: 10px;
}

#how-to {
    font-size: 20px;
    border-bottom: 1px solid black;
}

.instructions {
    font-size: 18px;
}
